In [5]:
import numpy as np

In [7]:
arr=np.array([10,20,30,40,50,70,60,80,90])

In [8]:
print(arr)

[10 20 30 40 50 70 60 80 90]

### 2d array

In [11]:
array_2d=np.array([[10,20,30,],[40,50,70]])
print(array_2d)

[[10 20 30]
 [40 50 70]]

## array 3D

In [13]:
array_3d=np.array([[[10,20,30,],[40,50,70],[60,80,90]]])
print(array_3d)

[[[10 20 30]
  [40 50 70]
  [60 80 90]]]

### dimension of numpy array

In [19]:
print('first array dimension:',arr.ndim)

first array dimension: 1

In [14]:
print('2d array dimension:',array_2d.ndim)

2d array dimension: 2

In [15]:
print('3d array dimension:',array_3d.ndim)

3d array dimension: 3

### write an array of 5 students

#### marks : 80,70,75,99,89

In [18]:
array_marks=np.array([80,70,75,99,89])
print('array of marks:')
print(array_marks)

array of marks:
[80 70 75 99 89]

### write an array to take marks of 5 students in 3 subjects using numpy
#### math, english, chemistry
#### [[50,45,49],[34,67,99],[28,44,83],[63,75,90],[64,71,96]]

In [29]:
stud_marks_2d=np.array([[50,45,49],[34,67,99],[28,44,83],[63,75,90],[64,71,96]])
print('2d array example')
print(stud_marks_2d)

2d array example
[[50 45 49]
 [34 67 99]
 [28 44 83]
 [63 75 90]
 [64 71 96]]

### write an array to take marks of 4 students in 3 subjects for 2 semester using numpy
#### students name : zaman, izam, azfar, danial
#### math, english, chemistry
#### 2 semesters z: sem1, sem2
#### array: 4 * 3 * 2
#### [[50,45],[67,49],[34,67],[35,99],[28,44],[70,83],[63,75],[53,90],[64,71][48,96],[31,78],[95,40]]

In [28]:
stud_marks_3d=np.array([
    ([50,45],[67,49],[34,67]),
    ([35,99],[28,44],[70,83]),
    ([63,75],[53,90],[64,71]),
    ([48,96],[31,78],[95,40])
                            ])
print(stud_marks_3d)

[[[50 45]
  [67 49]
  [34 67]]

 [[35 99]
  [28 44]
  [70 83]]

 [[63 75]
  [53 90]
  [64 71]]

 [[48 96]
  [31 78]
  [95 40]]]

### 3D array of weather of 2 cities in 3 days for 3 times a day morning, noon, evening
#### city: Kuala Lumpur, Delhi
#### saturday, sunday, monday
#### 3 time slots: morning, noon, evening

In [43]:
weather_3d=np.array([
    ([23,37,33],[24,39,32],[25,37,30]),
    ([20,31,21],[23,29,25],[19,33,27])
    ])
print(weather_3d)
print('shape of array:',weather_3d.shape)
print('size of array:',weather_3d.size)
print('dimension of array:',weather_3d.ndim)
print('type of array:',weather_3d.dtype)

[[[23 37 33]
  [24 39 32]
  [25 37 30]]

 [[20 31 21]
  [23 29 25]
  [19 33 27]]]
shape of array: (2, 3, 3)
size of array: 18
dimension of array: 3
type of array: int64

# basic info

In [33]:
print(arr)

[10 20 30 40 50 70 60 80 90]

In [36]:
print('shape of array:',arr.shape)
print('size of array:',arr.size)
print('dimension of array:',arr.ndim)
print('type of array:',arr.dtype)

shape of array: (9,)
size of array: 9
dimension of array: 1
type of array: int64

In [42]:
students=np.array(['danial','qaisara','raif','azfar','maman'])
print('students:',students)
print('shape of array:',students.shape)
print('size of array:',students.size)
print('dimension of array:',students.ndim)
print('type of array:',students.dtype)

students: ['danial' 'qaisara' 'raif' 'azfar' 'maman']
shape of array: (5,)
size of array: 5
dimension of array: 1
type of array: <U7

# mathematical operations

In [47]:
print(arr)
total=np.sum(arr)
mean=np.mean(arr)
min=np.min(arr)
max=np.max(arr)
idx_max=np.argmax(arr)
idx_min=np.argmin(arr)
print('sum of the array:',total)
print('mean of the array:',mean)
print('max of the array:',max)
print('min of the array:',min)
print('maximum index of the array:',idx_max)
print('minimum index of the array:',idx_min)

[10 20 30 40 50 70 60 80 90]
sum of the array: 450
mean of the array: 50.0
max of the array: 90
min of the array: 10
maximum index of the array: 8
minimum index of the array: 0

In [60]:
arr_sort=np.array([28,51,18,77,90,12,44,83,36,158,400,6,34])
print('is there elements greater that 83:',np.any(arr_sort>83))
print(f'all greater than 83: {np.all(arr_sort>83)}')
print(f'all greater than 44: {np.all(arr_sort>44)}')
print('values greater than 83:',np.where(arr_sort>77))

is there elements greater that 83: True
all greater than 83: False
all greater than 44: False
values greater than 83: (array([ 4,  7,  9, 10]),)

In [62]:
print('all number greater than 83')
for idx in np.where(arr_sort>83):
    print(j)

all number greater than 83

ValueError: too many values to unpack (expected 2)