In [1]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_excel('students.xlsx')
print('original data frame')
print(df)
print()
print('Location : Label Based')
print(df.loc[2,['Name','Marks']])

original data frame
    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

Location : Label Based
Name     Bob
Marks     78
Name: 2, dtype: object

In [5]:
print('original data frame')
print(df)
print()
print('Location : index Based')
print(df.iloc[2,[1,2]])

original data frame
    Name  Age  Marks
0   John   20     85
1  Alice   22     90
2    Bob   21     78
3   Sara   23     92

Location : index Based
Age      21
Marks    78
Name: 2, dtype: object

# axis in numpy: 
##### 1. axis 0: vertical direction: works column wise
##### 2. axis 1: horizon direction: works rows wise

In [12]:
# 2 students marks in 3 subjects
# [[45,50,49],[30,45,49]]

arr_marks=np.array([[45,50,49],[30,45,49]])
print('original data frame:')
print(arr_marks)
print()
print('sum of each column:',np.sum(arr_marks,axis=0))
print('sum of each row:',np.sum(arr_marks,axis=1))

original data frame:
[[45 50 49]
 [30 45 49]]

sum of each column: [75 95 98]
sum of each row: [144 124]

In [17]:
top_marks=df.loc[df['Marks'].idxmax(),'Name']
low_marks=df.loc[df['Marks'].idxmin(),'Name']
print('student with top marks:',top_marks)
print('student with lowest marks:',low_marks)

student with top marks: Sara
student with lowest marks: Bob

In [19]:
top_index=df['Marks'].idxmax()
top_stud=df.iloc[top_index,df.columns.get_loc('Name')]
print(top_index)
print('top student is:',top_stud)

3
top student is: Sara